.container
  width: 60%
  max-width: 1920px
  margin: auto
.co
  width: 88%
  max-width: 1920px
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-25
    flex-basis: 25%
  &-30
    width: 30%
  &-50
    width: 50%
  &-70
    width: 70%

