@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .mobile-order-top
    order: 0
  .col-50
    width: 100%
  .row
    flex-direction: column
    align-items: center
  .swiper-button-prev
    left: 20%
  .swiper-button-next 
    left: auto !important
    right: 20%
  .swiper-pagination-bullets 
    left: 50% !important
    transform: translateX(-50%) !important
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__contetnt
      margin-left: 0
  .types
    &__card
      margin-bottom: 5rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .form
    &__label
      font-size: 15px
    &__input
      font-size: 18px
      border-color: $light
  .hero
    &__title
      font-size: 1.64rem
      max-width: 20rem
      margin-top: 6.071rem
      line-height: 132.83%
    &__scroll-down
      display: none
    &__content
      min-width: 22.86px
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 760px )
  .control
    background-color: #131313
    &__video
      width: 100%
      height: 100%
      max-width: 340px
      min-height: 207px
    &__form
      flex-direction: column
    &__text
      color: #ffffff
      font-size: 14px
      line-height: 169.8%
    &__input-group
      margin-bottom: 69px
    &__button
      margin-bottom: -45px
    &__label
      font-weight: normal
      font-size: 17px
      line-height: 20px
      color: rgba(255, 255, 255, 0.5)
    &__input
      font-weight: normal
      font-size: 20px
      line-height: 138.72%
      border-color: $light
      &::placeholder
        color: #ffffff
    &__policy
      margin-top: -4rem
      order: 0
      margin-bottom: 3.43rem
      &-label
        justify-content: end
        color: #ffffff
        font-size: 16px
        line-height: 22px
        margin-bottom: 4.428rem
  .video
    &__play
      width: 100px
@media screen and ( max-width: 760px )
  #map-yandex
    width: 100%
    height: 100%
    cursor: pointer
    background-color: transparent
    background: url('../img/map.png') center
    margin: auto
    max-width: 340px
    min-height: 255px
  #policy-error
    bottom: -16px
  #user-name-error
    bottom: -5px
  #user-phone-error
    bottom: -5px
  #user-name-footer-error
    bottom: -17px
  #user-phone-footer-error
    bottom: -17px
  #user-question-error
    bottom: -17px
  #policy-error
    bottom: -20px
  #user-name-error
    bottom: -16px
  #user-phone-error
    bottom: -16px
  #user-name-modal-error
    bottom: -5px
  #user-phone-modal-error
    bottom: -5px
  #user-email-error
    bottom: -5px
  div.invalid
    bottom: -18px
@media screen and ( max-width: 760px )
  .footer
    background: $dark
    &__input-group
      flex-basis: 100%
    &__wrap
      background: $dark
      padding: 0
    &__document
      padding-bottom: 0
    &__contact
      order: 1
      text-align: center
      margin-top: 2rem
      font-size: 18px
      font-weight: normal
    &__number
      display: block
    &__number:hover 
      background: rgba(0,0,0,0)
      color: #3a7999
    &__menu
      display: none
    &__title
      margin-top: 2rem
      font-size: 20px
    &__button
      width: 340px
      font-size: 15px
      text-align: center
    &__policy
      &-label
        justify-content: end
    &-card
      order: 1
      margin: auto
    &-link
      margin-top: 1.71rem
      margin-bottom: 1.71em
      margin-right: 1.5rem
@media screen and ( max-width: 760px )
  .types
    padding-top: 40px
    padding-bottom: 0
  .control
    padding-bottom: 23px
  .design
    padding-top: 20px
    padding-bottom: 15rem
  .projects
    padding-bottom: 25rem
  .slider
    padding-top: 20px
@media screen and ( max-width: 570px )
  .hero
    &::after
      display: none
  .section
    &-title
      &__word
        &::after
          content: ''
          display: none
      &__heading
        font-weight: normal
        font-size: 1.571rem
        line-height: 138.6%
      &__text
        font-weight: normal
        font-size: 1rem
        line-height: 158.48%
        max-width: 21.785rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
    min-width: 24.21rem
    margin-top: 6.071rem
  .hero
    &__scroll-down
      display: none
    &__content
      min-width: 22.86px
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 570px )
  .section
    &-title
      &__word
        &::after
          content: ''
          display: none
      &__heading
        font-weight: normal
        font-size: 1.571rem
        line-height: 138.6%
      &__text
        font-weight: normal
        font-size: 1rem
        line-height: 158.48%
        max-width: 21.785rem
  .swiper
    &-slide
      &__heading
        font-weight: normal
        font-size: 1rem
        line-height: 138.6%
      &__value
        font-weight: normal
        font-size: 1rem
        line-height: 135.84%
        margin-bottom: 1.928rem
    &-slider
      &-image
        max-width: 24.28rem
        margin-top: 2.571rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 520px )
  .hero
    height: 533px
    padding: 0
    &__logo
      font-weight: 500
      font-size: 0.857rem
      line-height: 1rem
    &__title
      font-weight: normal
      font-size: 1.64rem
      line-height: 132.83%
      margin-bottom: 1.14rem
    &__text
      font-weight: normal
      font-size: 1.285rem
      line-height: 135.84%
    &__scroll-down
      display: none
    &__content
      min-width: 22.86px
      margin: 0
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
      width: 100%
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      font-weight: 500
      font-size: 0.857rem
      line-height: 1rem