@media screen and ( max-width: 1510px )
  .footer
    &__price
      font-size: 3.8rem
      margin-right: 14px
    &__button
      padding: 18px 78px
    &-btn-text
      margin-right: 16px
  .dropbtn
    max-width: 240px
@media screen and ( max-width: 1200px )
  .menu
    &__title
      font-size: 2rem
      margin-left: 15px
    &__img
      max-width: 45px
  .nav
    &__item
      font-size: 1rem
      margin-right: 20px
      &:last-of-type
        margin-right: 0
  .hero
    &__logo
      max-width: 22rem
      font-size: 4rem
    &__description
      font-size: 1.5rem
      max-width: 16rem
  .main
    height: 85vh
  .control
    &__defenition
      margin-top: 0
      color: $primary
    &__video
      min-height: 30rem
      max-width: 50rem
      width: 100%
      height: 100%
    &__section-title
      margin-top: -15rem
  .section
    &-types
      margin-left: 100px
@media screen and ( max-width: 1070px )
  .section
    &-types
      margin-left: 0
  .mobile-order-top
    order: 1
  .row
    flex-direction: column
    align-items: center
  .col
    &-50
      width: 100%
    &-30
      width: 100%
    &-70
      width: 100%
  .design
    padding-bottom: 40px
  .types
    padding-top: 40px
    padding-bottom: 40px
    &__description
    &__topic
      letter-spacing: normal
      font-size: 2rem
      margin-bottom: 0
    &__heading
      
      font-size: 1.3rem
    &__text
      font-size: 1.1rem
    &__subtext
      font-size: 0.81rem
      margin-bottom: 4rem
  .swiper
    &-container
      max-width: 24rem
  .section
    &__topic
      margin-top: 140px
      justify-content: center
      max-width: 444px
    &-title
      &__description
        margin-top: 0
        justify-content: center
  .footer
    padding-top: 50px
    padding-bottom: 50px
    &__promo
      text-align: left
    &__ds
      margin: 0
    &__full-price
      margin-top: -2rem
@media screen and ( max-width: 800px )
  .nav
    display: none
  .control
    &__video
      min-height: 20rem
      max-width: 40rem
      width: 100%
      height: 100%
    &__section-title
      margin-top: -10rem
@media screen and ( max-width: 610px )
  .container
    width: 85%
    max-width: 1256px
    margin: auto
  .main
    height: 40vh
    background-color: $dark
  .hero
    &__logo
      font-size: 2.5rem
      max-width: 25rem
    &__description
      font-size: 1rem
  .menu
    &__logo
      padding-top: 1rem
  .control
    &__video
      min-height: 207px
      max-width: 340px
      width: 100%
      height: 100%
    &__section-title
      margin-top: -8rem
  .video
    &__play
      width: 60px
  .design
    flex-direction: column
    &__description
      margin-bottom: 50px
  .row
    flex-direction: column
    align-items: center
