*, *:before, *:after
  box-sizing: border-box
.input
  outline: none
html
  font-size: 14px
button
  outline: none
body
  font-family: serif
  font-size: 1rem
  font-family: 'Futura Book', sans-serif
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      text-transform: uppercase
      font-family: "Yeseva One", cursive
      line-height: 138.6%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ""
        width: 90px
        height: 2px
        background-color: $primary
        margin-left: 2rem
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
img
  max-width: 100%
#policy-error
    bottom: -22px
#user-question-error
    bottom: -20px
#user-phone-footer-error
    bottom: -20px
#user-name-footer-error
    bottom: -20px
#user-phone-error
    bottom: -12px
#user-name-error
    bottom: -12px
#map-yandex
    cursor: pointer
    background-color: transparent
    background: url('../img/map.png') center
    margin: auto
    max-width: 925px
    min-height: 465px
    