.projects
  padding-bottom: 30rem
.swiper
  &-container
    // width: 48.5rem
  &-slider
    margin-top: 1.8rem
    width: 100%
  &-slide
    display: flex
    flex-wrap: wrap
    &__text
      flex-basis: 34%
      margin-bottom: 1.4rem
      &:last-of-type
        margin-bottom: 7.14rem
    &__heading
      font-weight: normal
      font-size: 1.28rem
      line-height: 1.78rem
      font-family: "Yeseva One", cursive
      color: $primary
      text-transform: uppercase
      margin-bottom: 0.5rem
    &__value
      font-size: 1.071rem
      line-height: 1.428rem
      margin-bottom: 2.428em
  &-pagination
    &-bullet
      margin: 0 7px !important
      width: 10px
      height: 10px
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 42px
      width: 42px
      height: 14px
      &::after
        display: none
    &-prev
      left: 0
      background: url("../img/arrow-prev.svg") no-repeat center
    &-next
      background: url("../img/arrow-next.svg") no-repeat center
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -2px