.swiper
  &-button
    &-prev, &-next
      width: 54px
      height: 54px
      &::after
        display: none
    &-prev
      background: url("../img/prev.svg") no-repeat center
    &-next
      background: url("../img/next.svg") no-repeat center
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto